:host {
    @header-height: 38px;
    @padding: 5px;
    @header-content-height: @header-height - (2 * @padding);

    position: relative;
    display: block;
    width: 100%;
    height: @header-height;
    line-height: @header-content-height;
    padding: @padding 20px;
    background: #fff;
    z-index: 1;

    a {
        color: #333;
        text-decoration: none;
    }

    h1 {
        display: inline-block;
        margin: 0;

        font-size: 14px;
        font-weight: normal;
        font-style: italic;
    }

    .login-button {
        display: block;
        box-sizing: border-box;
        height: @header-content-height;
        margin: 0;
        padding: 0 8px;

        line-height: 1;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    .header-actions {
        float: right;
        height: @header-content-height;

        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 0 0 15px;
            line-height: 28px;
        }
    }
}
