:host {
    ul {
        list-style-type: none;
        margin: 50px 0 25px;
        text-align: center;
    }

    li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
    }

    a {
        color: #333;
        text-decoration: none;
    }
}