<div class="run-detail"
    *ngIf="run !== null"
    [class.completed]="!isVisitor && isLoggedIn && didRunnerCompleteRun(run)"
>
    <div class="run-location">{{ run.location }}</div>
    <div class="run-data">
        <div class="run-image" [ngStyle]="{ 'background-image': 'url(' + run.image + ')' }"></div>
        <div class="run-description">{{ run.description }}</div>
    </div>

    <div class="run-complete" *ngIf="!isVisitor">
        <div *ngIf="!isLoggedIn" class="not-logged-in">Log in first to check if you ran at this place</div>

        <label *ngIf="isLoggedIn">
            <input type="checkbox" [checked]="didRunnerCompleteRun(run)" (change)="onComplete($event.target.checked)" />
            I ran at this place
        </label>
    </div>
</div>
