<div class="run-detail">
    <div class="run-location">{{ location }}</div>
    <div class="run-data">
        <div class="run-image" [ngStyle]="{ 'background-image': 'url(' + image + ')' }"></div>
        <div class="run-description">{{ description }}</div>
    </div>

    <div class="run-complete" *ngIf="!isVisitor">
        <div *ngIf="!isLoggedIn" class="not-logged-in">Log in first to check if you ran at this place</div>

        <label *ngIf="isLoggedIn">
            <input type="checkbox" [checked]="completed" (change)="onCompleteChange($event.target.checked)" />
            I ran at this place
        </label>
    </div>
</div>
