<div class="hero">

    <div class="content">
        <h1>Beautiful places to run</h1>

        <ul class="landing-menu">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a [routerLink]="['/places']" *ngIf="(auth$ | async) === null">Places</a>
                <a [routerLink]="['/runner', (auth$ | async).emailAddress]" *ngIf="(auth$ | async) !== null">Places</a>
            </li>
            <li *ngIf="(auth$ | async) === null">
                <button type="button" (click)="login($event)">Login</button>
            </li>
        </ul>
    </div>

    <a class="arrow" href="#intro"></a>
</div>

<div class="intro" id="intro">
    <div class="content">
        <h1>Beautiful places to run</h1>
        <div class="sub-title">a collection of stunning trails to run</div>
    </div>
</div>

<div class="more-info" id="about">
    <div class="content">
        <p>
            Based upon <a href="http://www.runnersworld.com/rave-run/rave-runs-beautiful-places-to-run" target="_blank">Runner's World Rave Runs</a>,
            this is a collection of beautiful places to run. Beside just browsing for stunning locations to run, you can use this website as a
            bucket list for trail running&hellip;
        </p>

        <p>
            <button type="button" (click)="login()">Log in</button> to your personal account, start running and check if items of your bucket list&hellip;
        </p>
    </div>
</div>