<div class="hero">

    <div class="content">
        <h1>Beautiful places to run</h1>

        <ul class="landing-menu">
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Places</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
        </ul>
    </div>

    <div class="arrow"></div>
</div>

<div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus egestas tellus, vel tincidunt dui gravida et. Morbi semper lectus quis nisi auctor efficitur. Ut auctor nisi vitae neque scelerisque iaculis. Morbi luctus eu libero quis eleifend. Phasellus eget aliquam orci. Vivamus vitae purus urna. Morbi a diam vel mi interdum placerat. Nam ullamcorper vitae felis sit amet tristique.</p>
    <p>Etiam eleifend lobortis nisi, a eleifend libero tincidunt vitae. Donec eu leo eget risus fermentum placerat. Duis sed maximus urna, bibendum vehicula orci. Aenean ornare felis in egestas egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ut lacus ullamcorper, consequat turpis eget, aliquet ex. Nam scelerisque elementum turpis id vestibulum. Praesent nec vehicula lacus, id rutrum ex. Etiam varius ipsum ac augue scelerisque venenatis. Curabitur fermentum nulla non volutpat lobortis. Nulla id facilisis lectus.</p>
</div>