:host {
    flex: 1;
    background: hotpink;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: 0;
    display: flex;
    flex-direction: row;
}

li {
    display: block;
    width: 25vw;
    height: 25vw;
}
