<app-header (onLogin)="login()" [auth]="auth$"></app-header>

<runner-card
    *ngIf="ready && (runner$ | async) !== null"
    [avatar]="$runner?.avatar"
    [displayName]="$runner?.displayName"
></runner-card>

<ul *ngIf="ready">
    <li *ngFor="let run of runs$ | async">
        <run-card
            [image]="run.image"
            [location]="run.location"
            [completed]="false"
            (click)="showRunDetails(run)"
        ></run-card>
    </li>
</ul>


<div *ngIf="!ready">
    <div class="loading-indicator"></div>
</div>